In [ ]:
# CASSANDRA DataStax - via cloud online

In [7]:
pip install cassandra-driver

Requirement already satisfied: cassandra-driver in f:\installed_softwares\anaconda\lib\site-packages (3.25.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: geomet<0.3,>=0.1 in f:\installed_softwares\anaconda\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in c:\users\mailt\appdata\roaming\python\python39\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in f:\installed_softwares\anaconda\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.4)
Requirement already satisfied: colorama in c:\users\mailt\appdata\roaming\python\python39\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [8]:
cloud_config= {
        'secure_connect_bundle': 'Cassandra_DataStax_secure-connect-test-demo.zip'
}
auth_provider = PlainTextAuthProvider('moBPBKpsUCnKbZEzfYyeoRPq', 'riD,6XpvDR0+r6QCRPvUpi3dqRNj7ufd0fOfD5qGSr3kYBzFcZJLh+4Q0I+o5DZ3Bjb1rw2kExM,YiIWUz5eH.aWnBpYWCDOHTvPF-4Gg9bo0o1axaeDMxOeSGug71PC')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('demo')

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [9]:
session.execute('create table employee(emp_id int , name text ,age int , salary int,primary key(emp_id))')

In [10]:
session.execute("insert into employee ( emp_id , name , age , salary) values (3,'sudh' , 30  , 234)")

In [20]:
session.execute("insert into employee (emp_id,name,age,salary) values (1,'manas',36,23000)")

In [21]:
session.execute("insert into employee ( emp_id , name , age , salary) values (5,'sudh' , 30  , 234)")

In [22]:
session.execute("insert into employee ( emp_id , name , age , salary) values (8,'sudh' , 30  , 234)")

In [23]:
for i in session.execute("select * from employee"):
    print(i)

Row(emp_id=5, age=30, name='sudh', salary=234)
Row(emp_id=1, age=36, name='manas', salary=23000)
Row(emp_id=8, age=30, name='sudh', salary=234)
Row(emp_id=3, age=30, name='sudh', salary=234)

In [24]:
for i in session.execute('select * from employee where emp_id = 1') : 
    print(i)

Row(emp_id=1, age=36, name='manas', salary=23000)

In [25]:
for i in session.execute('select count(*) from employee ') : 
    print(i)

Row(count=4)

In [26]:
for i in session.execute('select min(salary) from employee ') : 
    print(i)

Row(system_min_salary=234)

In [27]:
for i in session.execute('select max(salary) from employee ') : 
    print(i)

Row(system_max_salary=23000)

In [28]:
for i in session.execute('select avg(salary) from employee ') : 
    print(i)

Row(system_avg_salary=5925)

In [29]:
for i in session.execute('select sum(salary) from employee ') : 
    print(i)

Row(system_sum_salary=23702)

In [30]:
for i in session.execute('select * from employee where emp_id in (1,2,3,4,5)') : 
    print(i)

Row(emp_id=1, age=36, name='manas', salary=23000)
Row(emp_id=3, age=30, name='sudh', salary=234)
Row(emp_id=5, age=30, name='sudh', salary=234)